<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Cart</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext"
      rel="stylesheet">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" href="./css/cart.css">
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <div class="container-fluid">
         <nav class="navbar navbar-light bg-light justify-content-between">
            <div id="mySidenav" class="sidenav">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
               <a href="http://localhost:3000/home">Home</a>
               <a href="http://localhost:3000/products?category=makeup">Make-Up</a>
               <a href="http://localhost:3000/products?category=skincare">Skin-Care</a>
               <a href="http://localhost:3000/cart">Cart</a>
               <a href="http://localhost:3000/about">About</a>
               <a href="http://localhost:3000/contact">Contact</a>
            </div>
            <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
            <a class="logo" href="http://localhost:3000/home"><img src="images/glamsphere.png"></a>
            <form class="form-inline ">
               <div class="login_text">
                  <ul>
                     <li><a href="#"><img src="images/user-icon.png"></a></li>
                     <li><a href="#"><img src="images/bag-icon.png"></a></li>
                     <!-- <li><a href="#"><img src="images/search-icon.png"></a></li> -->
                     <!-- <li><input type="text" placeholder="Search..."></li> -->
                  </ul>
               </div>
            </form>
         </nav>
      </div>
   </div>
   <!-- header section end -->

   <!-- product section start -->
   <section class="cart_section layout_padding">
      <div class="container">
         <h2>Your Shopping Cart</h2>
         <% if (cartItems.length==0) { %>
            <h2>NO ITEMS IN CART !! Shop here <a href="http://localhost:3000/products">here</a></h2>
            <% } else { %>
               <table class="cart-table">
                  <thead>
                     <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <% for (let item of cartItems) { %>
                           <td>
                              <div class="cart-info">
                                 <img class="cart-image" src="<%= item.imagePath %>">
                                 <div class="cart-details">
                                    <p class="cart-title">
                                       <%= item.PName %>
                                    </p>
                                    <span class="cart-price">
                                       <%= item.Price %>
                                    </span>
                                    <!-- <a href="#" class="cart-remove">Remove</a> -->
                                 </div>
                              </div>
                           </td>
                           <td>
                              <%= item.quantity %>
                           </td>
                           <td>
                              <%= item.Price * item.quantity %>
                           </td>
                           <% } %>

                     </tr>

                  </tbody>
               </table>
               <% } %>

                  <div class="checkout-section">
                     <div class="btn"><a href="http://localhost:3000/home">Continue Shopping</a></div>
                     <div class="btn"><button onclick="checkout()">Checkout</button></div>
                  </div>
      </div>
   </section>
   <!-- customer section end -->

   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="footer_logo"><a href="index.html"><img src="images/image.png"></a></div>
         <div class="contact_section_2">
            <div class="row">
               <div class="col-sm-4">
                  <h3 class="address_text">Contact Us</h3>
                  <div class="address_bt">
                     <ul>
                        <li>
                           <a href="#">
                              <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left10">Address :
                                 RNSIT farms, Channasandra, Bangalore-560070</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left10">Call :
                                 9844420210, 9470806788</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left10">Email :
                                 1rn21ai04x.name@rnsit.ac.in</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="footer_logo_1"><a href="index.html"><img src="images/image.png"></a></div>
                  <p class="dummy_text">commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                     esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non</p>
               </div>
               <div class="col-sm-4">
                  <div class="main">
                     <h3 class="address_text">Best Products</h3>
                     <p class="ipsum_text">Product no 1 Product no 2 Product no 3 Product no 4</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="social_icon">
            <ul>
               <li>
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
               </li>
               <li>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
               </li>
               <li>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
               </li>
               <li>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">2024 All Rights Reserved. <a href="https://html.design"></a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/plugin.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <!-- javascript -->
   <script src="js/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <script>
      function openNav() {
         document.getElementById("mySidenav").style.width = "100%";
      }

      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
      }


      function checkout() {
         const url = "http://localhost:3000/checkout";
         let userid = parseInt(localStorage.getItem("UserID"));

         const queryString = `userid=${userid}`;

         // Create the full URL with the query string
         const fullUrl = `${url}?${queryString}`;

         // Send the GET request
         fetch(fullUrl)
            .then(response => {
               if (!response.ok) {
                  throw new Error('Network response was not ok');
               }
               return response.json(); // Assuming the response is JSON
            })
            .then(data => {
               if (data.success == true) {

                  let myOrder = data.myOrder;


                  var options = {
                     "key": "rzp_test_ztvlLbwUAdGqVu",
                     "amount": myOrder.amount.toString(),
                     "currency": "INR",
                     "name": "GlamSphere",
                     "description": "Pay & Checkout your Favourite Beauty Products !!",
                     "image": "https://media.geeksforgeeks.org/wp-content/uploads/20210806114908/dummy-200x200.png",
                     "order_id": myOrder.id,
                     "handler": function (response2) {
                        console.log(response2);
                        alert("This step of Payment Succeeded");
                        success(response2, myOrder.receipt);
                     },
                     "prefill": {
                        "contact": localStorage.getItem('Phone').toString(),
                        // Name and email ID for checkout
                        "name": localStorage.getItem('FirstName'),
                        "email": localStorage.getItem('EmailID')

                     },
                     "notes": myOrder.notes,
                     "theme": {
                        "color": "#2300a3"
                     }
                  };
                  var razorpayObject = new Razorpay(options);
                  console.log(razorpayObject);
                  razorpayObject.on('payment.failed', function (response) {
                     console.log(response);
                     if (response.error.reason == "payment_failed") {
                        alert("This step of Payment Failed");
                        failure(response, myOrder.receipt);
                        window.location.href = "http://localhost:3000/orderfailed";
                     }
                  });

                  razorpayObject.open();


               }
            })
            .catch(error => {
               // Handle errors
               console.error('There was a problem with the fetch operation:', error);
            });
      }


      function success(response, oid) {
         console.log("inside success");

         const url = 'http://localhost:3000/verifyOrder';

         // Request body data 
         const requestBody = {
            'order_id': response['razorpay_order_id'],
            'payment_id': response['razorpay_payment_id'],
            'OrderID': oid

         };

         // Request headers
         const headers = {
            'Content-Type': 'application/json',
            "x-razorpay-signature": response.razorpay_signature
         };

         // Fetch options
         const options = {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(requestBody)
         };

         // Making the POST request
         fetch(url, options)
            .then(response => {
               if (!response.ok) {
                  throw new Error('Request failed with status ' + response.status);
               }
               return response.json();
            })
            .then(data => {
               if (data.success == true) {
                  console.log("inside payment good")
                  window.location.href = "http://localhost:3000/orderplaced";
               } else {
                  alert('payment verification failed');
               }
            })
            .catch(error => {
               console.error('Error:', error);
               alert('Payment Failed, please try again later'); 
               setTimeout(() => {
                  window.location.href = "http://localhost:3000/home";
               }, 3000); 

            });

      }

      function failure(response, Order_id) {
         // URL to which the POST request will be sent
         const url = 'http://localhost:3000/cancelOrder';

         // Request body data (assuming it's JSON)
         const requestBody = {
            OrderID: Order_id,
         };


         const options = {
            method: 'POST',
            headers : {
               'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestBody)
         };

         fetch(url, options)
            .then(response => {
               if (!response.ok) {
                  throw new Error('Request failed with status ' + response.status);
               }
            })
            .then(data => {
               if (data.success == true) {
                  
               }
               
            })
            .catch(error => {
               console.error('Error:', error);
               alert = 'Some error occured, plese try again later';
               
            });

      }

   </script>
</body>

</html>