<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Profile</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- header section start -->
    <div class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="http://localhost:3000/home">Home</a>
                    <a href="http://localhost:3000/products">Our Products</a>
                    <a href="http://localhost:3000/products?category=makeup">Make-Up</a>
                    <a href="http://localhost:3000/products?category=skincare">Skin-Care</a>
                    <a href="http://localhost:3000/cart">Cart</a>
                    <a href="http://localhost:3000/about">About</a>
                    <a href="http://localhost:3000/contact">Contact</a>
                </div>
                <span class="toggle_icon" onclick="openNav()"><img src="images/toggle-icon.png"></span>
                <div class="logo"><img src="images/glamsphere.png"></div>
                <div class="form-inline ">
                    <div class="login_text">
                        <ul>
                            <li>
                                <form id="profileForm" method="POST" action="http://localhost:3000/profile">
                                    <input type="number" id="usernameP" name="username" style="display: none;">
                                    <button class="user-img"><img src="images/user-icon.png"></button>
                                </form>
                            </li>
                            <li>
                                <form id="cartForm" method="POST" action="http://localhost:3000/cart">
                                    <input type="number" id="username" name="username" style="display: none;">
                                    <button class="bag-icon"><img src="images/bag-icon.png"></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- header section end -->

<div class="profile_section">
        <div class="profile-picture">
            <% if (user.imagePath !==null) { %>
            <img src="<%= user.imagePath %>" alt="this is demo image">
            <% } else { %>
            <img src="" alt="random user">
            <% } %>
        </div>
        <div class="profile-details">
            <div class="profile-name">
                <h2><%= user.FirstName +" "+ user.LastName %></h2>
            </div>
            <div class="user_info">
                <div class="profile-description">
                    <h5>First Name: <%= user.FirstName  %> </h5>
                    <h5>Last Name: <%= user.LastName %></h5>
                    <h5>Email ID: <%= user.EmailID %></h5>
                    <h5>Username: <%= user.Username %></h5>
                    <h5>Phone: <%= user.Phone %></h5>
                    <h5>User Address: <%= user.UserAddress %></h5>
                </div>
                <div class="actions">
                    <% if (user.UserRole == 'ADMIN')  { %>
                    <h5><a href="/profile/admin"></a></h5>
                    <br> 
                    <% } %>
                    <ul>
                        <br>
                        <li><button onclick="logout()">Logout</button></li>
                        
                    </ul>
                </div>
                
            </div>
        </div>
</div>
    

    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="footer_logo"><a href="http://localhost:3000/home"><img src="images/image.png"></a></div>
            <div class="contact_section_2">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="address_text">Contact Us</h3>
                        <div class="address_bt">
                            <ul>
                                <li>
                                    <a href="https://maps.app.goo.gl/RnGmpCqyCNPFZxDH7">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i><span
                                            class="padding_left10">Address :
                                            Forum Mall, South Bangalore </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:9470806786">
                                        <i class="fa fa-phone" aria-hidden="true"></i><span
                                            class="padding_left10">Call :
                                            9844420212, 9470806786</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:fatima.amani65@gmail.com">
                                        <i class="fa fa-envelope" aria-hidden="true"></i><span
                                            class="padding_left10">Email :
                                            contactus@glamsphere.in</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer_logo_1"><a href="http://localhost:3000/home"><img
                                    src="./images/image.png
                                    "></a></div>
                                    <p class="dummy_text">Your go-to hub for all things beauty.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="main">
                                        <h3 class="address_text">Best Products</h3>
                                        <p class="ipsum_text">Sunscreen <br>Lipsticks <br>Lip Balm <br> Eye
                                            Shadow </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social_icon">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"
                                            aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/@fatimadoesthemakeup"><i
                                            class="fa fa-youtube" aria-hidden="true"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/fatimadoesthemakeup/"><i
                                            class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- footer section end -->
                <!-- copyright section start -->
                <div class="copyright_section">
                    <div class="container">
                        <p class="copyright_text">&#169; 2024 All Rights Reserved. <a
                                href="https://html.design"></a></p>
                    </div>
                </div>
                <!-- copyright section end -->
            
                <script>
                    function logout() {
                        localStorage.clear();
                        alert("You have been logged out successfully !!!");
                        setTimeout(function () {
                            window.location.href = "http://localhost:3000/home";
                        }, 3000);
                    }
                </script>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var usernameInput = document.getElementById('username');
                        if (usernameInput) {
                            var userID = parseInt(localStorage.getItem("UserID"));
                            if (!isNaN(userID)) {
                                usernameInput.value = userID;
                            }
                        }
                    });
            
                    document.addEventListener('DOMContentLoaded', function () {
                        var usernameInput = document.getElementById('usernameP');
                        if (usernameInput) {
                            var userID = parseInt(localStorage.getItem("UserID"));
                            if (!isNaN(userID)) {
                                usernameInput.value = userID;
                            }
                        }
                    });
                </script>
            </body>
            
            </html>
            